<div class="row">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="text-center">
						<h3><i class="fa fa-lock fa-4x"></i></h3>
						<h2 class="text-center">Change Password?</h2>
						<div class="panel-body">
							
							<form class="form" novalidate #form="ngForm" (ngSubmit)="changepassword(form,form.valid)">
								<fieldset>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
											
											<input id="emailInput" placeholder="Enter Old Password" class="form-control" type="password" ngModel name="oldPassword" required minlength="7" #oldPassword="ngModel">
										</div>
										<small *ngIf="!oldPassword.valid && oldPassword.touched" class="text-danger">
										Minimum 7 charactor required
										</small>
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
											
											<input type="password" class="form-control" name="password" ngModel
											required validateEqual="confirmPassword" reverse="true" #password="ngModel" minlength="7" placeholder="Enter password">
											
										</div>
										<small *ngIf="!password.valid && password.touched" class="text-danger">
										Minimum 7 charactor required
										</small>
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
											<input type="password" class="form-control" name="confirmPassword" ngModel
											required validateEqual="password" reverse="false" #confirmPassword="ngModel" placeholder="Reenter Password">
											
										</div>
										<small *ngIf="!confirmPassword.valid && confirmPassword.touched" class="text-danger">
										Password mismatch
										</small>
									</div>
									<div class="form-group">
										<button class="btn btn-lg btn-primary btn-block" value="Change Password" type="submit"  [disabled]="!form.valid">Change Password</button>
									</div>
								</fieldset>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>