RESULT MANAGER

<div class="container">
  <div class="row">
    <ul class="nav navbar-nav">
      <li class="dropdown" appDropdown>
        <span class="btn btn-default">
          <a style="cursor:pointer;text-decoration: none" class="dropdown-toggle" role="button">
            CATEGORY<span class="caret"></span>
          </a>

        </span>
        <ul class="dropdown-menu">
          <li><a style="cursor:pointer">Save Data</a></li>

        </ul>
      </li>

      <li>
        <button class="btn btn-primary" type="button">Search
        <span class="glyphicon glyphicon-search"></span></button>
        <span class="col-xs-7">
          <input type="text" class="form-control" placeholder="name,score" />
        </span>
      </li>

    </ul>
  </div>
</div>



<div class="container">
  <div class="row">
    
    <div class="col-xs-10">
      <hr />
      <table class="table table-striped">
        <tr>
          <th>CANDIDATE ID</th>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>PHONE NO</th>
          <th>CATEGORY</th>
          <th>DATE</th>
          <th>SCORE</th>
        </tr>
        <tr>
          <td>01</td>
          <td>SARATH</td>
          <td>sarath@gmail.com</td>
          <td>9999888800</td>
          <td>java</td>
          <td>16-02-2017</td>
          <td>30</td>
          
        </tr>
        <tr>
          <td>02</td>
          <td>SARATH</td>
          <td>sarath@gmail.com</td>
          <td>9999888800</td>
          <td>java</td>
          <td>16-02-2017</td>
          <td>30</td>
        </tr>
        <tr>
          <td>03</td>
          <td>SARATH</td>
          <td>sarath@gmail.com</td>
          <td>9999888800</td>
          <td>java</td>
          <td>16-02-2017</td>
          <td>30</td>
        </tr>

      </table>


    </div>
  </div>
</div>

