.selected {
  border: solid #4CAF50 1px;
  float: left;
  margin: 2px;
  padding: 2px 15px;
}

  .selected a {
    cursor: pointer;
    font-weight: bold;
  }

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.error{
	color: red;
}
