
  <div class="row">
    <div class="col-xs-12">
      <hr />
      <form #f="ngForm" (ngSubmit)="sendTestLink(f)">
        <div class="form-group row">
          <label for="email" class="col-lg-2 col-xs-2 col-form-label col-form-label-lg">Enter Candidate Email(s)</label>
          <div class="col-lg-4 col-xs-4">
            <!--<textarea type="email" class="form-control form-control-lg" id="email"
              placeholder="Enter Cadidates Emails-Seperated By Comas (,)"></textarea>-->
            <div class="form-group">
              <input class="form-control" id="emailTextArea" name="emailTextArea" [(ngModel)]="query" (keyup)="filter('emails','query','filteredList','emailsList')" ngModel #emailTextArea="ngModel" />
              <br />
            </div>
            <div class="suggestions" *ngIf="filteredList.length > 0">
              <ul *ngFor="let item of filteredList; let i=index"  style="list-style: none;">
                <li class="label" *ngIf="i<4">
                  <a (click)="select(item,'query','selected','filteredList','queryResults')" >{{item}}</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="" [hidden]="true">
            <textarea class="form-control" name="queryResults" required [(ngModel)]="queryResults" #emailsList="ngModel"></textarea>
          </div>
          <p class="help-block error" *ngIf="!emailsList.valid">Enter Email(s)</p>
          <div class="col-lg-6 col-xs-12">
            <div *ngFor="let item of selected">
              <div class="selected">
                <span>{{item}}</span>
                <a (click)="remove(item,'selected','queryResults')">x</a>
              </div>
            </div>
          </div>



            <!--sssssssssssssssssssssssssssssssssssss-->

        </div>

        <div class="form-group row">
          <label for="subject" class="col-sm-2 col-form-label col-form-label-sm">Subject</label>
          <div class="col-xs-9">
            <input type="text" class="form-control form-control-sm" id="subject"
                   placeholder="Enter Mail Subject" name="subject"
                   ngModel #emailSubject="ngModel" required>
            <p class="help-block error" *ngIf="!emailSubject.valid">Enter Subject</p>
          </div>
        </div>

        <div class="form-group row">
          <label for="subject" class="col-sm-2 col-form-label col-form-label-sm">Post Applied For </label>
          <div class="col-xs-9">

            <label for="singleSelect"></label><br>
            <select name="singleSelect" id="singleSelect"
                    class="form-control" ngModel required #postApplied="ngModel">
              <option value="">Select Post Applied Option here</option>
              <option value="JAVA TRAINEE"> JAVA TRAINEE</option>
              <option value="QA TRAINEE"> QA TRAINEE</option>
              <option value="JAVA SENIOR"> JAVA SENIOR </option>
              <option value="QA SENIOR"> QA SENIOR</option>
              <option value="UI DEVELOPER"> UI DEVELOPER</option>
              <option value="UI SENIOR DEVELOPER"> UI SENIOR DEVELOPER</option>
              <option value="IOS"> IOS </option>
            </select>
            <p class="help-block error" *ngIf="!postApplied.valid">Select post applied</p>
          </div>


        </div>

        <div class="form-group row">
          <label for="mailbody" class="col-sm-2 col-form-label col-form-label-sm">Mail Body</label>
          <div class="col-xs-9">
            <textarea type="text" [froalaEditor] class="form-control form-control-sm" id="mailbody"
                      placeholder="Enter Mail Body"
                      name="mailbody"
                      ngModel required
                      style="height:auto;" #emailBody="ngModel"></textarea>
            <p class="help-block error" *ngIf="!emailBody.valid">Enter Email Body</p>
          </div>
        </div>
        <div class="form-group row">
          <label for="category" class="col-sm-2 col-form-label col-form-label-sm">Select Exam Categories</label>
          <div class="col-xs-5">
              <input type="text" id="category"
                     class="form-control"
                     name="category" placeholder="select category"
                     id="category" [(ngModel)]="categoryQuery" #categoriesInput="ngModel" (keyup) = "filter('categories','categoryQuery','categoryFilteredList','categoryList')"
                     />
          </div>
        </div>
        <div class="form-group row">
           <div class="col-lg-3 col-xs-3"></div>
           <div class="col-lg-6 col-xs-6 suggestions" *ngIf="categoryFilteredList.length > 0">
            <ul *ngFor="let item of categoryFilteredList; let i=index"  style="list-style: none;">
              <li class="label" *ngIf="i<3">
                <a (click)="select(item,'categoryQuery','categorySelected','categoryFilteredList','categoryQueryResults')" >{{item}}</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-xs-3"></div>
        </div>

        <div class="form-group row">
          <label for="subject" class="col-sm-2 col-form-label col-form-label-sm">Selected Categories</label>
          <div class="col-xs-9">
            <div class="" [hidden]="true">
               <textarea class="form-control" name="categoryQueryResults" required #categories="ngModel" [(ngModel)]="categoryQueryResults"></textarea>
            </div>
             <p class="help-block error" *ngIf="!categories.valid">Select Categories</p>
             <!-- <p>Category 1</p> <p>Category 2</p>-->
              <div *ngFor="let item of categorySelected">
                <div class="selected">
                  <span>{{item}}</span>
                  <a (click)="remove(item,'categorySelected','categoryQueryResults')">x</a>
                </div>
              </div>
          </div>
        </div>

        <hr />


          <div class="row">
            <div class="col-lg-4"></div>
            <div class="form-group row" >
              <button class="btn btn-primary" [disabled]="f.invalid" type="submit">
                Send Link
                <span class="glyphicon glyphicon-envelope"></span>
              </button>
              <button class="btn btn-info" type="reset">
                Reset
                <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </div>

          </div>


      </form>
    </div>
  </div>
