<!-- ****************Notifications Block **************** -->
  <div class="row">
    <div class="col-xs-12">
      <!-- <div class="alert alert-success" id="success-alert" *ngIf="questionSuccessStatus">
          <button type="button" class="close" data-dismiss="alert">x</button>
          <strong>Success!</strong> Email Sent Successfully.
        </div>

        <div class="alert alert-danger" id="failure-alert" *ngIf="questionFailureStatus"> 
          <button type="button" class="close" data-dismiss="alert">x</button>
          <strong>Warning!</strong> Email not sent to <br />
          <p *ng-for="">{{}}</p> 
        </div> -->
        <simple-notifications [options]="options"></simple-notifications>
<!-- <simple-notifications [options]="options" (onCreate)="created($event)" (onDestroy)="destroyed($event)"></simple-notifications> -->
    </div>
  </div>
<!-- Test -->
<!-- ****************Notifications Block **************** -->
  <div class="row">
    <div class="col-xs-12">
      <hr />
      <form #f="ngForm" (ngSubmit)="sendTestLink(f)">
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-xs-12 col-form-label col-form-label-lg">Enter Candidate Email(s)</label>
          <div class="col-sm-4 col-xs-12">
            <div class="form-group">
              <input class="form-control" id="emailTextArea" name="emailTextArea" autocomplete="off" auto-complete [source]="allEmailsArray" (valueChanged)="select($event,'selected','queryResults','allEmailsArray')"  ngModel #emailTextArea="ngModel" /> <br />
            </div>
          </div>  

          <div class="" [hidden]="true">
            <textarea class="form-control" name="queryResults" required [(ngModel)]="queryResults" #emailsList="ngModel"></textarea>
          </div>

          <div class="col-sm-6 col-xs-12">
            <p class="help-block error" *ngIf="!emailsList.valid && emailTextArea.touched">Enter Email(s)</p>
            <div *ngFor="let item of selected">
              <div class="selected">
                <span>{{item}}</span>
                <a (click)="remove(item,'selected','queryResults','allEmailsArray')">x</a>
              </div>
            </div>
          </div>



        </div>

        <div class="form-group row">
          <label for="subject" class="col-sm-2 col-xs-12 col-form-label col-form-label-sm">Subject</label>
          <div class="col-sm-9 col-xs-12">
            <input type="text" class="form-control form-control-sm" id="subject"
                   placeholder="Enter Mail Subject" name="subject"
                   ngModel #emailSubject="ngModel" required>
            <p class="help-block error" *ngIf="!emailSubject.valid && emailSubject.touched">Enter Subject</p>
          </div>
        </div>

        <div class="form-group row">
          <label for="subject" class="col-sm-2 col-xs-12 col-form-label col-form-label-sm">Post Applied For </label>
          <div class="col-sm-9 col-xs-12">
            <label for="singleSelect"></label><br>
            <select name="singleSelect" id="singleSelect"
                    class="form-control" ngModel required #postApplied="ngModel">
              <option value="">Select Post Applied Option here</option>
              <option value="JAVA TRAINEE"> JAVA TRAINEE</option>
              <option value="QA TRAINEE"> QA TRAINEE</option>
              <option value="JAVA SENIOR"> JAVA SENIOR </option>
              <option value="QA SENIOR"> QA SENIOR</option>
              <option value="UI DEVELOPER"> UI DEVELOPER</option>
              <option value="UI SENIOR DEVELOPER"> UI SENIOR DEVELOPER</option>
              <option value="IOS"> IOS </option>
            </select>
            <p class="help-block error" *ngIf="!postApplied.valid && postApplied.touched">Select post applied</p>
            <!-- <p class="help-block error" *ngIf="rangeForm.controls.range.errors?.required">Select post applied</p> -->
            
          </div>
        </div>
        <div class="form-group row">
          <label for="mailbody" class="col-sm-2 col-xs-12 col-form-label col-form-label-sm">Mail Body</label>
          <div class="col-sm-9 col-xs-12">
            <textarea type="text" [froalaEditor] class="form-control form-control-sm" id="mailbody"
                      placeholder="Enter Mail Body"
                      name="mailbody"
                      ngModel
                      style="height:auto;" #emailBody="ngModel"></textarea>
            <p class="help-block error" *ngIf="!emailBody.valid && emailBody.touched">Enter Email Body</p>
          </div>
        </div>

        <div class="form-group row">
          <label for="subject" class="col-sm-2 col-xs-12 col-form-label col-form-label-sm">Select Exam Categories </label>
          <div class="col-sm-9 col-xs-12">
            <label for="categorySelected"></label><br>
            <select name="categorySelected" id="categorySelected" 
                class="form-control" [(ngModel)]="selectedCategory" #categorySelect="ngModel" required>
              <option value="">Select a category</option>
              <option [ngValue]="category.categoryId" *ngFor="let category of categoryList">{{category.categoryName}}</option>
            </select>
            <p class="help-block error" *ngIf="!categorySelect.valid && categorySelect.touched">Select a Category</p>
            <!-- <p class="help-block error" *ngIf="rangeForm.controls.range.errors?.required">Select post applied</p> -->
            
          </div>
        </div>

        <hr />
          <div class="form-group row">
            <div class="col-sm-4 col-xs-12" >
              <button class="btn btn-primary" [disabled]="f.invalid" type="submit">
                Send Link
                <span class="glyphicon glyphicon-envelope"></span>
              </button>
              <button class="btn btn-info" type="reset" (click)="formReset(f)">
                Reset
                <span class="glyphicon glyphicon-refresh"></span>
              </button>
            </div>
          </div>
      </form>
    </div>
  </div>


<!-- *********************Send Exam Link Body *********************** -->

<div id="sendExamLink" [hidden]="!false">
<table width="100%" bgcolor="#3c4856" border="0" cellpadding="10" cellspacing="0">
<tbody><tr>
  <td>
    <table bgcolor="#ffffff" class="content" align="center" cellpadding="0" cellspacing="0" border="0">
      <tbody><tr>
        <td valign="top" mc:edit="headerBrand" id="templateContainerHeader">

          <p style="text-align:center;margin:0;padding:10px 0 10px 0; background-color: #66b8c4;">
            <img src="./Invitation_files/logo.png" style="display:inline-block;">
          </p>

        </td>
      </tr>
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateContainer">
            <tbody><tr>
              <td valign="top" class="bodyContent" mc:edit="body_content_newsletter_02">
                <h2 style="text-align:center;"><strong>Welcome To Amiti Online Examination.</strong></h2>
        <br />
        <p class="textCenter">Amiti welcomes you to take an exam as the first step in our recruitment/shortlist process.</p>
        <p class="textCenter" style="margin-bottom: 0;">Please confirm the below details & click the button to sign-in using any of your existing google account credentials.</p>        
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
      <tr style="border-top: 1px solid #e2e2e2;">
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateContainer">
            <tbody>
              <tr>
                <td valign="top" class="bodyContent" mc:edit="body_content_newsletter_02">
                  <p class="margin-btm-six"><b class="fw-lg-20">Post applied for: </b> <span>QA Team Lead</span></p>
                  <p class="margin-btm-six"><b class="fw-lg-20">Mail Body: </b> <span>QA</span></p>
                  <p class="margin-btm-six"><b class="fw-lg-20">Exam Category: </b> <span>QA</span></p>                          
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateContainer">
            <tbody><tr>
              <td valign="top" align="center" class="bodyContentBtns">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody><tr valign="top">
                    <td class="two-column">
                      <table class="column">
                        <tbody><tr>
                          <td class="text" mc:edit="body_content_col1" width="100%" style="width:100%;">
                            <p><img style="display: block; height: 1px;" src="./Invitation_files/d0e045e0f607030c9c422653b1988b5b.jpg" alt="" width="151" height="1"></p>
                            <p><a class="green-btn btn-large" href="javascript:void(0);"><strong>sign-in</strong></a></p> 
<br />              
                          </td>
                        </tr>
                      </tbody></table>
                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateContainerImageFull" style="min-height:15px;">
            <tbody><tr>
              <td valign="top" class="bodyContentImageFull" mc:edit="body_content_01">
                <p style="text-align:center;margin:0;padding:0;">
                  <img src="./Invitation_files/exam-figures-large.jpg" style="display:block;">
                </p>
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
      <tr>
        <td align="center" valign="top">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateContainerMiddleBtm">
                  <tbody><tr>
                    <td valign="top" class="bodyContent" mc:edit="body_content">
                      <h4>You will then be able to take the exam once the HR activates your individual exam. Please Ensure that you read and understand the instructions carefully.</h4>
                      <h4>HR will detail you on the next steps.</h4>
                      <h4>All the best.</h4>
                    </td>
                  </tr>
                  <tr align="top">
                      <td valign="top" class="bodyContentImage">
                        <table border="0" cellpadding="0" cellspacing="0" valign="top">
                          <tbody><tr>
                            <td align="left" width="50" valign="top" mc:edit="footer_sigimage" style="margin:0;padding:0;">
                              <p style="margin-bottom:10px;padding:0;display:block;">
                                <img src="./Invitation_files/img_profile.jpg" style="display:block;">
                              </p>
                            </td>
                            <td width="15" align="left" valign="top" style="width:15px;margin:0;padding:0;">&nbsp;</td>
                            <td align="left" valign="top" mc:edit="footer_sig" style="margin:0;padding-top:10px;line-height:1;">
                              <h4><strong>Jenny Smith</strong></h4>
                              <h5>Business Development at COG</h5>
                            </td>
                          </tr>
                        </tbody></table>
                      </td>
                  </tr>
              </tbody></table>
          </td>
      </tr>
      <tr>
        <td align="center" valign="top" id="bodyCellFooter" class="unSubContent">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" id="templateContainerFooter">
            <tbody><tr>
              <td valign="top" width="100%" mc:edit="footer_unsubscribe">
                <h6 style="text-align:center;">All rights reserved - Amiti Software Pvt Ltd.</h6>                
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table>
    </td>
  </tr>
</tbody></table>
</div>