
.options .form-control {
	display: inline-block;
	width: 60%;
}
#singleSelect{
  width:20%;
  display:inline;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
.error{
	color: red;
}
