
<!-- <div class="row">
  <div class="col-xs-12 ">
    <hr />
    <ul class="nav navbar-nav">
      <li class="dropdown" appDropdown>
        <span class="btn btn-default">
          <a style="cursor:pointer;text-decoration: none" class="dropdown-toggle" role="button">
            CATEGORY<span class="caret"></span>
          </a>
        </span>
        <ul class="dropdown-menu">
          <li><a style="cursor:pointer">Save Data</a></li>

        </ul>
      </li>

      <li>
        <button class="btn btn-primary" type="button">
          Search
          <span class="glyphicon glyphicon-search"></span>
        </button>
        <span class="col-xs-7">
          <input type="text" class="form-control" placeholder="name,score" />
        </span>
      </li>
    </ul>
  </div>
</div> -->


<div class="row">
  <div class="col-lg-12 col-xs-12">
    <hr/>
    <form action="listdata_submit" #f="ngForm" (ngSubmit)="onSearch(f.value,'')">

      <div class="col-xs-4 result_manager">
        <!--<select class='form-control' ngModel name="category">
          <option value="">--select category--</option>
          <option [ngValue]="category.categoryName" *ngFor="let category of category">{{category.categoryName}}</option>
        </select>-->
        <input type="text" class="form-control" placeholder="Post Applied For" name="jobPosition" ngModel />
      </div>
      <div class="col-xs-4 result_manager">
        <input type="text" class="form-control" placeholder="Name" name="fullName" ngModel/>
      </div>
      <div class="col-xs-2 result_manager">
        <!--<input type="number" class="form-control" placeholder="score" name="score" ngModel/>-->
        <select class='form-control' ngModel name="score" >
          <option [ngValue]="'30-25'">30-25</option>
          <option [ngValue]="'24-20'">24-20</option>
          <option [ngValue]="'19-15'">19-15</option>
          <option [ngValue]="'14-10'">14-10</option>
          <option [ngValue]="'9-0'">9-0</option>

        </select>
</div> <br /> &nbsp; &nbsp;
      <div class="col-xs-4 result_manager">
        <input type="email" class="form-control" placeholder="E-mail" name="email" ngModel />
      </div>
      <div class="col-xs-4 result_manager">
        <input type="number" class="form-control" placeholder="Phone Number" name="phoneNumber" ngModel/>
      </div>
      <div class="col-xs-4 result_manager">
        <my-date-range-picker name="dateRange" [options]="myDateRangePickerOptions"
                              ngModel placeholder="Enter date range"></my-date-range-picker>
      </div>
      <div class="col-sm-3 col-xs-12 result_manager ">
        <button class="btn btn-primary" type="submit" >
          Search
          <span class="glyphicon glyphicon-filter"></span>
        </button>
      </div>

      </form>
</div>
</div>





<div class="row">

  <div class="col-xs-12">
    <hr />
    <table class="table table-responsive">
      <tr>
        <th class="hidden-xs">CANDIDATE ID</th>
        <th>NAME</th>
        <th class="hidden-xs">EMAIL</th>
        <th class="hidden-xs">PHONE NO</th>
        <th hidden>Booking Id</th>
        <th>POST APPLIED</th>
        <th class="hidden-xs">DATE</th>
        <th>SCORE</th>
      </tr>
      <tr *ngFor="let result of resultManagerFull">
        <td class="hidden-xs">{{result.candidateId}}</td>
        <td>{{result.fullName}}</td>
        <td class="hidden-xs">{{result.email}}</td>
        <td class="hidden-xs">{{result.phoneNumber}}</td>
        <td hidden>{{result.bookingId}}</td>
        <td>{{result.jobPosition}}</td>
        <td class="hidden-xs">{{result.dateOfExam}}</td>
        <td>{{result.score}}</td>

      </tr>
      
    </table>


  </div>
</div>

<p>Candidate id is: {{notificationCID}}</p>


