<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="well">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Mobile</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let users of useritems; let i = index" style="cursor: pointer;">
							<td>{{users.firstName}} {{users.lastName}}</td>
							<td>{{users.email}}</td>
							<td>{{users.phoneNumber}}</td>
							<td>
								<a [routerLink]="['../register',users.candidateId]" class="btn btn-success"><span class="glyphicon glyphicon-pencil" title="Edit"></span></a>
								<a (click)="deletecandidate(users.candidateId,i)" class="btn btn-danger"><span class="glyphicon glyphicon-trash" title="Delete"></span></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>