<div class="row">
  <div class="col-xs-12">
    <hr />
    <!-- <ul class="nav navbar-nav">
      <li>
        <button class="btn btn-primary" type="button" (click)="startTest(manageTest)">
          Start Test
          <span class="glyphicon glyphicon-hourglass"></span>
        </button>
      </li>
    </ul> -->
     
  <form action="listdata_submit" #f="ngForm" (ngSubmit)="onSearch(f.value,'')">
    <div class="col-xs-3 cols-sm-3 col-md-3">
      <input type='text' class="form-control" placeholder="Enter name" name="name" ngModel>
    </div>
    <div class="col-xs-3 cols-sm-3 col-md-3">
      <input type='text' class="form-control" placeholder="Enter Email" name="email" ngModel>
    </div>
    <div class="col-xs-3 cols-sm-3 col-md-3">

     <select name="" class='form-control' ngModel name="category">
       <option value="">--select category--</option>
       <option [ngValue]="category.categoryname" *ngFor="let category of category">{{category.categoryname}}</option>
     </select>
    </div>
     <div class="col-xs-3 cols-sm-3 col-md-3">
      <my-date-range-picker name="dateRange" [options]="myDateRangePickerOptions"
                    ngModel placeholder="Enter date range"></my-date-range-picker>
    </div>
    <div class="col-xs-1 cols-sm-1 col-md-1">
      <button type='button' class="btn btn-primary" type="submit">Search</button>
    </div>
     <div class="col-xs-1 cols-sm-1 col-md-1">
      <button type='button' class="btn btn-info" type="button" (click)="startTest(manageTest)">Start Test<span class="glyphicon glyphicon-hourglass"></span></button>
    </div>
  </form>
  </div>
</div>





<div class="row">

  <div class="col-xs-12">
    <hr />
    <table class="table table-striped " style="overflow:scroll">
      <tr>
        <th><span class="glyphicon glyphicon-hand-down"></span></th>
        <!--  <th>SL NO</th> -->
        <th>CANDIDATE ID</th>
        <th>CANDIDATE NAME</th>
        <th>POST APPLIED</th>
        <th>CANDIDATE EMAIL</th>
        <th>DATE</th>
        <th>CATEGORY</th>
        <th>SELECT PAPER</th>
        <th>TEST STATUS</th>
        <!-- <th style="color:aqua">RESEND LINK</th> -->
      </tr>
      <tr *ngFor="let mgtxt of manageTest; let i = index; ">
        <td>
          <input type="checkbox" [disabled]="false"
                 id="{{ 'row' + mgtxt.candidateId }}"
                 name="{{ 'row' + mgtxt.candidateId }}" />
        </td>
        
        <td>{{mgtxt.candidateId}}</td>
        <td>{{mgtxt.candidateFullName}}</td>
        <td>{{mgtxt.jobPosition}}</td>
        <td>{{mgtxt.candidateMailId}}</td>
        <td>{{mgtxt.dateOfExam}}</td>
        <td>{{mgtxt.category}}</td>
        
         <td><input type="text"
               class="form-control"
               (click)="onSendCategory(this.value, mgtxt.category)"
               auto-complete
               [source]="items" max-num-list="4" 
                />
        </td> 
        <td>{{mgtxt.testStatus}}</td>
        <td>{{mgtxt.status}}</td>
         <td><a>{{mgtxt.resendLink}}</a> </td> 

      </tr>

      <!-- <tr>
        <td>
          <input type="checkbox" [disabled]="false"
                 />
        </td>
        
        <td>0007</td>
        <td>sarath</td>
        <td>java developer</td>
        <td>sarath@amiti.com</td>
        <td>22-02-17</td>
        <td >java</td>

        <td>
          
          <input  type="text" 
                 class="form-control" 
                  
                 (click)="onSendCategory(this.value,'java')"
                 
                 auto-complete 
                 [source]="items" (keyup)="onSelectPaper()" style="overflow:scroll"/>
        </td>
        <td>Not Taken</td>
      
      </tr> -->

    </table>


  </div>
</div>


