MANAGE TEST

<div class="row">
  <div class="col-xs-12">
    <hr />
    <ul class="nav navbar-nav">
      <li>
        <button class="btn btn-primary" type="button" (click)="startTest(sampleManageTestData)">
          Start Test
          <span class="glyphicon glyphicon-hourglass"></span>
        </button>

      </li>

    </ul>
  </div>

</div>





<div class="row">

  <div class="col-xs-12">
    <hr />
    <table class="table table-striped "  style="overflow:scroll">
      <tr >
        <th ><span class="glyphicon glyphicon-hand-down"></span></th>
        <th>SL NO</th>
        <th>CANDIDATE ID</th>
        <th>CANDIDATE NAME</th>
        <th>POST APPLIED</th>
        <th>CANDIDATE EMAIL</th>
        <th>DATE</th>
        <th>CATEGORY</th>
        <th>SELECT PAPER</th>
        <th>TEST STATUS</th>
        <th style="color:aqua">RESEND LINK</th>
      </tr>
      <tr *ngFor="let mgtxt of manageTest; let i = index; ">
        <td><input type="checkbox" [disabled]="false" id="{{ 'row' + mgtxt.candidateId }}" name="{{ 'row' + mgtxt.candidateId }}" /></td>
        <td></td>
        <td>{{mgtxt.candidateId}}</td>
        <td>{{mgtxt.candidateFullName}}</td>
        <td>{{mgtxt.cat}}</td>
        <td>{{mgtxt.candidateMailId}}</td>
        <td>{{mgtxt.date}}</td>
        <td>{{mgtxt.category}}</td>
        <td>{{mgtxt.subject}}</td>
        <td>{{mgtxt.testStatus}}</td>
        <td>{{mgtxt.status}}</td>
        <td><a>{{mgtxt.resendLink}}</a> </td>

      </tr>

    </table>


  </div>
</div>


