MANAGE TEST

<div class="row">
  <div class="col-xs-12">
    <hr />
    <ul class="nav navbar-nav">
      <li>
        <button class="btn btn-primary" type="button" (click)="startTest(sampleManageTestData)">
          Start Test
          <span class="glyphicon glyphicon-hourglass"></span>
        </button>

      </li>

    </ul>
  </div>
  
</div>





<div class="row">

  <div class="col-xs-12">
    <hr />
    <table class="table table-striped "  style="overflow:scroll">
      <tr >
        <th ><span class="glyphicon glyphicon-hand-down"></span></th>
        <th>SL NO</th>
        <th>CANDIDATE ID</th>
        <th>CANDIDATE NAME</th>
        <th>POST APPLIED</th>
        <th>CANDIDATE EMAIL</th>
        <th>DATE</th>
        <th>CATEGORY</th>
        <th>SELECT PAPER</th>
        <th>TEST STATUS</th>
        <th style="color:aqua">RESEND LINK</th>
      </tr>
      <tr  *ngFor="let mgtxt of sampleManageTestData; let i = index; ">
        <td><input type="checkbox" [disabled]="false" id="{{ 'row' + mgtxt.id }}" name="{{ 'row' + mgtxt.id }}" /></td>
        
        <td>{{mgtxt.id}}</td>
        <td>{{mgtxt.studentId}}</td>
        <td>{{mgtxt.name}}</td>
        <td>{{mgtxt.postApplied}}</td>
        <td>{{mgtxt.emailId}}</td>
        <td>{{mgtxt.date}}</td>
        <td>{{mgtxt.subject}}</td>
        <td>{{mgtxt.paper}}</td>
        <td>{{mgtxt.status}}</td>
        <td><a>{{mgtxt.resendLink}}</a> </td>

    </table>


  </div>
</div>


