
<nav class="navbar navbar-default" style="background-color: orange">
  <!--<div class="container-fluid">-->

    <div class="navbar-header">


      <a class="navbar-brand" ><img src="../../assets/images/amiti.png" alt="amiti"
                                    img="img-responsive"
                                    style="height:30px;width:100px"/></a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        
        <li *ngIf="!authService.isAuthenticated()" style="cursor: pointer"><a routerLink="/signin" > Log In </a></li>
        <li *ngIf="authService.isAuthenticated()" style="cursor: pointer" ><a  routerLink="hrdashboard/changepassword"> Change Password </a></li>
        <li *ngIf="authService.isAuthenticated()" style="cursor: pointer" ><a  routerLink="/signin" (click)="onLogOut()"> Log Out </a></li>


      </ul>
    </div><!-- /.navbar-collapse -->
  <!--</div>--><!-- /.container-fluid -->
</nav>
