  <div class="row">
    <div class="col-lg-4 col-xs-8">
    </div>
    <div class="col-lg-4 col-xs-8">
      <form (ngSubmit)="onFileUpload(f)" #f="ngForm">
        <label class="label label-success" for="files">UPLOAD CADIDATE FILE HERE</label>
        <hr />
        <input class="form-control" id="files"
               type="file"
               multiple
               ngModel
               required
               name="files"
               #files>
        <hr />
        <button class="btn btn-default" type="submit" (click)="onFileUpload(f)">UPLOAD</button>
        <span ([ngModel])="status"> </span>

      </form>
      
    </div>
    <div class="col-lg-4 col-xs-8"></div>
  </div>
