
<!-- <div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <button class="btn btn-success" (click)="onCreatecategory()">
      CREATE NEW CATEGORY
      <span class="glyphicon glyphicon-plus"></span>
    </button>&nbsp;
    <button class="btn btn-primary" (click)="onviewcategory()">
      VIEW CATEGORY
      <span class="glyphicon glyphicon-play-circle"></span>
    </button>
  </div>
</div> -->

<div class="row">
   <div class="col-lg-6 col-sm-12 col-xs-12"></div>
   <div class="col-lg-3 col-sm-6 col-xs-12">
     <button routerLinkActive="active"
             class="btn btn-success" 
             routerLink="createcategory" 
             (click)="onCreatecategory()">
      CREATE NEW CATEGORY
        <span class="glyphicon glyphicon-plus"></span>
      </button>
   </div>
  <!--  <div class="col-lg-3 col-sm-6 col-xs-12">
     <button routerLinkActive="active"
             class="btn btn-primary" 
             routerLink="viewcategory" 
             (click)="onviewcategory()">
      VIEW CATEGORY
      <span class="glyphicon glyphicon-play-circle"></span>
    </button>
   </div> -->
   <div class="col-lg-3 col-sm-12 col-xs-12"></div>
</div>

<div class="row">
  <div class="col-lg-1 col-xs-12"></div>
    <div class="col-lg-10 col-xs-12">
      <router-outlet></router-outlet>
    </div>
  <div class="col-lg-1 col-xs-12"></div>
</div>
