

<div class="row">
<hr />
<form action="listdata_submit" #f="ngForm" (ngSubmit)="onSearch(f.value,'')">
    <div class="col-sm-2 col-md-2">
      <input type='text' class="form-control" placeholder="Enter name" name="name" ngModel>
    </div>
    <div class="col-sm-3 col-md-3">
      <input type='text' class="form-control" placeholder="Enter Email" name="email" ngModel>
    </div>
     <div class="col-sm-3 col-md-3">
      <select class='form-control' ngModel name="category">
       <option value="">--select category--</option>
       <option [ngValue]="category.category_Id" *ngFor="let category of category">{{category.category_Name}}</option>
     </select>
    </div>
     <div class="col-sm-3 col-md-3">
      <my-date-range-picker name="dateRange" [options]="myDateRangePickerOptions"
                    ngModel required placeholder="Enter range"></my-date-range-picker>
    </div>
    <div class="col-sm-2 col-md-2">
      <button class="btn btn-info" type="submit">Search</button>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr />
    <table class="table table-striped " style="overflow:scroll">
      <tr>
        <!--<th><span class="glyphicon glyphicon-hand-down"></span></th>-->
        <!--  <th>SL NO</th> -->
        <th>CANDIDATE ID</th>
        <th>CANDIDATE NAME</th>
        <th>POST APPLIED</th>
        <th>CANDIDATE EMAIL</th>
        <th>DATE</th>
        <th>CATEGORY</th>
        <!-- <th>SELECT PAPER</th> -->
        <th>TEST STATUS</th>
        <!-- <th style="color:aqua">RESEND LINK</th> -->
      </tr>
      <tr *ngFor="let mgtxt of manageTest; let i = index; ">
        <!--<td>
          <input type="checkbox" [disabled]="false"
                 id="{{ 'row' + mgtxt.candidateId }}"
                 name="{{ 'row' + mgtxt.candidateId }}" />
        </td>-->
        <!-- <td></td> -->
        <td>{{mgtxt.candidateId}}</td>
        <td>{{mgtxt.candidateFullName}}</td>
        <td>{{mgtxt.jobPosition}}</td>
        <td>{{mgtxt.candidateMailId}}</td>
        <td>{{mgtxt.dateOfExam}}</td>
        <td>{{mgtxt.category}}</td>
       
        <td>{{mgtxt.testStatus}}</td>
        <td>{{mgtxt.status}}</td>
      

      </tr>

    </table>


  </div>
</div>


