<div class="row">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="text-center">
						<h3><i class="fa fa-lock fa-4x"></i></h3>
						<h2 class="text-center">Change Password?</h2>
						<p>You can Change your password here.</p>
						<div class="panel-body">
							
							<form class="form" novalidate #form="ngForm">
								<fieldset>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
											
											<input id="emailInput" placeholder="Enter Password" class="form-control" type="password" ngModel
											validateEqualTo="repeatPassword"
											name="password" #passwordControl="ngModel" required minlength="7">
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-lock color-blue"></i></span>
											
											<input id="repassword" placeholder="Retype Password" class="form-control" type="password" name="repeatPassword" ngModel required>
										</div>
									</div>
									<p *ngIf="passwordControl.errors?.validateEqual">Passwords don't match</p>
									<div class="form-group">
										<button class="btn btn-lg btn-primary btn-block" [disabled]="form.invalid"  type="submit">Change My Password</button>
									</div>
								</fieldset>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>