
<form #f="ngForm" class="createCategoryForm" (ngSubmit)="onCreateCategory(f)">
  <div class="form-group">
    <div class="row">
      <label for="categoryname" class="col-sm-2 col-xs-12 col-form-label col-form-label-lg">Enter Category Type</label>
      <div class="col-sm-6 col-xs-12">
        <input type="text" class="form-control form-control-lg" id="categoryname"
               placeholder="Enter Category Type" name="CategoryName" ngModel
               required #categoryname [(ngModel)]="items.categoryname" >
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <label for="categorydescription" class="col-sm-2 col-xs-12 col-form-label col-form-label-sm">Category Description</label>
      <div class="col-sm-6 col-xs-12">
        <textarea type="text" class="form-control form-control-sm"
                  id="categorydescription"
                  placeholder="Enter Category Description"
                  style="height:80px;"
                  name="CategoryDesc" ngModel
                  required
                  #categorydescription [(ngModel)]="items.CategoryDesc">
        </textarea>
      </div>
    </div>
  </div>
<input type="hidden" name="categoryId" *ngIf="editMode" class="form-control" [(ngModel)]="items.categoryId">
  <div class="row">
    <div class="col-sm-3 col-xs-12"></div>
    <div class="col-sm-6 col-xs-12">
      <div class="form-group" >
        <button *ngIf="!editMode" class="btn btn-primary"
                type="submit"
                [disabled]="!f.valid">Add<span class="glyphicon glyphicon-ok"></span></button>
           <button *ngIf="editMode" class="btn btn-primary"
                type="submit"
                [disabled]="!f.valid"
                (click)="onCreateCategory(categoryname.value,categorydescription.value)">Update<span class="glyphicon glyphicon-ok"></span>
          </button> &nbsp;
        <button class="btn btn-success" type="reset" (click)="onClear()">Clear
          <span class="glyphicon glyphicon-erase"></span></button>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12"></div>
  </div>
</form>
   
  




