
  <div class="row">
    <div class="col-xs-12">
      <hr />
    </div>

    </div>




  <div class="row">

    <div class="form-group">
      <div class="col-xs-4">

        <!--<label for="singleSelect"></label><br>
        <select name="singleSelect" id="singleSelect"
                class="form-control ">
          <option value="">Category</option>
          <option value=""
                  *ngFor="let category of items"
                  (click)="onSelectCategory()"
                  >{{category.CATEGORYNAME}}</option>

        </select>-->
      </div>


    </div>
  </div>






      <div class="row">

        <div class="col-xs-12">
          <hr />
          <table class="table table-striped">
            <tr>
              <th>QUESTION ID</th>
              <th>QUESTIONS</th>
              <th><!--<label for="singleSelect"></label>-->
                      <select name="singleSelect" id="singleSelect"
                              class="form-control ">
                              <option value="">Category</option>
                              <option value=""
                                     *ngFor="let category of items"
                                      (click)="onSelectCategory()">
                                      {{category.CATEGORYNAME}}
                              </option>

                      </select>
              </th>
              <th>CREATED DATE</th>
            <!--   <th>EDIT</th>
              <th>DELETE</th> -->
            </tr>
            <tr *ngFor="let question of questions ; let i= index">
              <td>01</td>
              <td #question>{{question.question }}</td>
              <td>{{question.category}}</td>
              <td>01-02-2017</td>
             <!-- <td><button class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span></button></td>
              <td><button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></td> -->
            </tr>
            <tr>
              <td>02</td>
              <td>Java is an Object Oriented Program</td>
              <td>java</td>
              <td>01-02-2017</td>
             <!-- <td><button class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span></button></td>
              <td><button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></td> -->
            </tr>
            <tr>
              <td>03</td>
              <td>Java is an Object Oriented Program</td>
              <td>java</td>
              <td>01-02-2017</td>
             <!-- <td><button class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span></button></td>
              <td><button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></td> -->
            </tr>

          </table>


        </div>
      </div>


