
  <div class="row">
    <div class="col-xs-12">
      <hr />
    </div>

    </div>




  <div class="row">

    <div class="form-group">
      <div class="col-xs-4">

        <!--<label for="singleSelect"></label><br>
        <select name="singleSelect" id="singleSelect"
                class="form-control ">
          <option value="">Category</option>
          <option value=""
                  *ngFor="let category of items"
                  (click)="onSelectCategory()"
                  >{{category.CATEGORYNAME}}</option>

        </select>-->
      </div>


    </div>
  </div>






      <div class="row">

        <div class="col-xs-12">
          <hr />
          <table class="table table-striped table-style table-responsive">
            <thead>
              <tr>
                <th align="center" class="textCenter">Index</th>
                <th>QUESTIONS</th>
                <th align="center" class="textCenter"><!--<label for="singleSelect"></label>-->
                <select name="singleSelect" id="singleSelect" class="form-control" (ngModelChange)="changeCategory($event)" [(ngModel)]="selectedCategory" required>
                <option [ngValue]="category.categoryname" *ngFor="let category of categoryList">{{category.categoryname}}</option>
              </select>
                </th>
                <th align="center" class="textDecorationScratch textCenter">CREATED DATE</th>
                <th align="center">EDIT</th>
                <th align="center">DELETE</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let eachCatQuestion of catQuestions; let i = index; let lastQuestion = last ">
                <td align="center">{{i+1}}</td>
                <td>{{eachCatQuestion.Qsn | truncate: 30}}</td>
                <td align="center">{{eachCatQuestion.Category}}</td>
                <td align="center" class="textDecorationScratch">01-02-2017</td>
                <td align="center"><button class="btn btn-success"><span #qbox [attr.data-questionName]="eachCatQuestion.Qsn" [attr.data-questionObject]="eachCatQuestion" [attr.data-questionId]="eachCatQuestion.Qsn_id" [attr.data-questionCat]="eachCatQuestion.Category" (click)="editQuestion(qbox, $event)" class="glyphicon glyphicon-pencil"></span></button></td>
                <td align="center"><button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></td>
              </tr>
            </tbody>
          </table>

      <ul class="pager">
        <!-- <li><a href="javascript:void(0);" (click)="getPrevPageQuestions(selectedCategory)">Previous</a></li> -->
        <li><a href="javascript:void(0);" (click)="getNextPageQuestions(selectedCategory)">Next</a></li>
      </ul>


        </div>
      </div>


