<div class="row">
  <hr />
  <div class="col-xs-4">
    <p><i>Select Category Here: </i></p>
    <select name="singleSelect" id="singleSelect" 
            class="form-control" 
            (ngModelChange)="changeCategory($event)" 
            [(ngModel)]="selectedCategory" #categoryText="ngModel" required >

      <option>--select category--</option>
      <option [ngValue]="category.categoryName" 
              *ngFor="let category of category"
              >{{category.categoryName}}</option>
    </select>
    <p class="help-block error" *ngIf="!categoryText.valid && categoryText.touched">Select Category</p>
    
    <table class="table table-bordered" >
      <thead>
        <tr>
          <th>#</th>
          <th>Paper List</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let paper of papers;let i = index">
          <td>{{i+1}}</td>
          <td hidden #paperId>{{paper.QsnPprId}}</td>
          <td #paperList style="cursor:pointer"><a style="text-decoration: none;">{{paper.questionPaperName}}</a></td>

          <td>
            <a class="btn btn-default" (click)="onViewPaper(paper.QsnPprId)" style="cursor:pointer;color:aqua">
              <span class="glyphicon glyphicon-eye-open"></span>
            </a>
          </td>
          <td>
            <a class="btn btn-default" [routerLink]="['../papermange',paper.QsnPprId]"  style="cursor:pointer;color:green">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>
          <td>
            <a class="btn btn-default" (click)="deletePaper(item,i)" style="cursor:pointer;color:red">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>

        </tr>
    
      </tbody>

    </table>
  </div>
  <div class="col-xs-8">
    
     {{paperQuestions.questionPaperName}}
    <ul class="list-group" *ngFor="let question of paperQuestions; let i = index">
      <li class="list-group-item">{{i+1}} | {{question.Qsn}} | {{question.category}}</li>
    </ul>
  </div>
</div>
