<div class="row">
  <div class="col-xs-8  col-sm-offset-1 col-md-offset-2">
    <h5><i>Send New Password To My Mail-Id</i></h5>
    <hr />
    <form (ngSubmit)="onSendPassword(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Enter Your E-Mail To Get New Password: </label>
        <md-input-container>
          <input type="email" id="email" name="email"
                 ngModel 
                 class="example-full-width"
                 mdInput placeholder="Enter HR Mail-ID" 
                 
                 required
                 
                 email
                 #mail="ngModel"/>
        </md-input-container>
        <p class="help-block error" *ngIf="!mail.valid && mail.touched">Please provide your E-mail</p>
      </div>
      <hr />
    
      <button class="btn btn-success" type="submit" 
              [disabled]="!f.valid"
              (click)="onSendPassword(f)"
              >Send New Password</button>
      <button class="btn btn-warning" type="button" (click)="onBack()">Back To LogIn</button>
      

    </form>


  </div>
</div>