<div class="row">
  <div class="col-xs-8  col-sm-offset-1 col-md-offset-2">
    <h3>Register New User </h3>
    <hr />
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Enter E-Mail : </label>
        <md-input-container>
          <input type="email" id="email" name="email"
                 ngModel class="example-full-width"
                 mdInput placeholder="Enter HR Mail-ID" 
                 
                 required
                 email 
                 #mail="ngModel"
                 />
        </md-input-container>
        <p class="help-block error" 
           style="color: red" 
           *ngIf="!mail.valid && mail.touched">Please provide your E-mail</p>
      </div>
      <div class="form-group">
        <label for="password">Password :</label>
        <md-input-container>
          <input type="password" id="password" name="password"
                 ngModel class="example-full-width"
                 mdInput placeholder="Enter Password" 
                 required #pass="ngModel" 
                 minlength="7"/>
        </md-input-container>
        <p class="help-block error" style="color: red" 
           *ngIf="!pass.valid && pass.touched">Password : Add Minimum 7 characters</p>
      </div>
      <hr />
      <button class="btn btn-success" type="submit" 
              [disabled]="!f.valid"
              (click)="onSignup(f)">Sign Up</button>
      <button class="btn btn-warning" type="button" (click)="onClearReg()">Clear</button>

    </form>


  </div>
</div>