<div class="row">
  <div class="col-xs-8  col-sm-offset-1 col-md-offset-2">
    <h3>Register New User </h3>
    <hr />
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Enter E-Mail : </label>
        <md-input-container>
          <input type="email" id="email" name="email"
                 ngModel class="example-full-width"
                 mdInput placeholder="Enter HR Mail-ID" />
        </md-input-container>
      </div>
      <div class="form-group">
        <label for="password">Password :</label>
        <md-input-container>
          <input type="password" id="password" name="password"
                 ngModel class="example-full-width" mdInput placeholder="Enter Password" />
        </md-input-container>
      </div>
      <hr />
      <button class="btn btn-success" type="submit" (click)="onSignin(f)">Sign Up</button>
      <button class="btn btn-warning" type="button" (click)="onClearReg()">Clear</button>

    </form>


  </div>
</div>