<div class="row">
  <div class="col-xs-8  col-sm-offset-1 col-md-offset-2">
    <h3>HR Admin Panel </h3>
    <hr />
    <!--<router-outlet></router-outlet>-->
    <div class="row">
      <div class="col-xs-8">
        <amiti-signin></amiti-signin><a (click)="onSignin()">forgot password</a>
      </div>
      <div class="col-xs-4">
        <h5><i>New HR Register Here...!</i></h5>
        <button class="btn btn-success" type="button" (click)="onRegister()">Register</button>
      </div>
    </div>
    

    
  </div>
</div>